* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI',Tahoma, Geneva, Verdana,sans-serif, 'orionprimedemo';
}
html, body{
height: 100vh;
width: 100%;
}
@font-face {
    font-family: 'orion'; 
    src: url('/orion-prime-font/Orionprimedemo-1GrV4.ttf'); 
  }
  
  #scroll{
    
  }
#main{
    min-height: 100vh;
    min-width: 100%;
    background-color: black;
    overflow-x: hidden;
}
#logo {
    height: 10vh;
    width: 7%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    padding-top: 3.2vh;
    /* border-right-style: inset;
    border-right-color: rgb(255, 255, 255);
    border-right-width: 1px; */
}
#logo i{
    color: white;
    font-size: 4vh;
}
#nav{
    /* position: absolute; */
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.186);
    display: flex;
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-box-shadow: 0px 10px 70px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 70px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 70px -12px rgba(0,0,0,0.75);
    position: fixed;
    z-index: 2;
}
#nav i{
    font-size: 3vh;
    color: white;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    z-index: 1; 
}

#nav ul{
    height: 100%;
    width: 85%;
    /* background: aqua; */
     display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10vh;
}
#nav ul li{
    /* height: 100%; */
    /* background-color:black; */
   font-size: 2vh;
   list-style-type: none;
   padding: 2vh 2vh ;
   margin-right: 9vh;
}
#nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}

#nav ul li a:hover{
    color: white;
}
#nav ul li a::before{
    content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
#nav ul li a:hover::before{
    transform: scaleX(1);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;

}
#page1 video{
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -13; */
    /* object-fit: contain; */
    object-fit: cover;
}
#page1_card h1{
    height: 15vh;
    width: 90vh;
    /* background-color: aqua; */
    font-family: orion;
    font-weight: 500;
    font-size: 6.5vw;
    border-bottom: 1px solid white;
    /* font-weight: 650; */
    position: relative;
    top: 0vw;
    left: 2vw;
    color: white;
}
#page1_card h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
    width: 45%;
    /* background-color: red; */
    /* font-family: orion; */
    /* font-weight: 500; */
    font-size: 3vh;
    font-weight: 650;
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    top: 2vw;
    left: 6vw;
    color: white;
}
#page1_card{
    height: 20vw;
    width: 50vw;
    backdrop-filter: blur(19px) saturate(200%);
    -webkit-backdrop-filter: blur(19px) saturate(200%);
    background-color: rgba(25, 27, 29, 0.369);
    border-radius: 12px;
    /* border: 0px solid rgba(255, 255, 255, 0.125); */
    z-index: 3; 
    display: flex;
    flex-direction: column;
    position: relative;
    top: 27.5vw;
    left: -1vw;
    box-shadow: 0px 10px 70px -12px rgba(0,0,0,0.75);
}
.wrap{
    /* background-color: red; */
    height: 7vw;
    width: 40%;
    position: relative;
    top: -6vh;
    left: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* z-index: 4; */
}
#page1_card button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
  }
  
  #page1_card button:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: #333;
  }
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;

}
#page2 video{
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -13; */
    /* object-fit: contain; */
    object-fit: cover;
}

#page2_card h1{
    height: 15vh;
    width: 90vh;
    /* background-color: aqua; */
    font-family: orion;
    font-weight: 500;
    font-size: 6.5vw;
    border-bottom: 1px solid white;
    /* font-weight: 650; */
    position: relative;
    top: 0vw;
    left: 2vw;
    color: white;
}
#page2_card h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
    width: 45%;
    /* background-color: red; */
    /* font-family: orion; */
    /* font-weight: 500; */
    font-size: 3vh;
    font-weight: 650;
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    top: 2vw;
    left: 6vw;
    color: white;
}
#page2_card{
    height: 20vw;
    width: 50vw;
    backdrop-filter: blur(19px) saturate(200%);
    -webkit-backdrop-filter: blur(19px) saturate(200%);
    background-color: rgba(25, 27, 29, 0.369);
    border-radius: 12px;
    /* border: 0px solid rgba(255, 255, 255, 0.125); */
    z-index: 3; 
    display: flex;
    flex-direction: column;
    position: relative;
    top: 27.5vw;
    left: 50vw;
    box-shadow: 0px 10px 70px -12px rgba(0,0,0,0.75);
}
.wrap{
    /* background-color: red; */
    height: 7vw;
    width: 40%;
    position: relative;
    top: -6vh;
    left: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* z-index: 4; */
}
#page2_card button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
  }
  
  #page2_card button:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: #333;
  }

#page3{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;

}
#page3 video{
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -13; */
    /* object-fit: contain; */
    object-fit: cover;
}

#page3_card h1{
    height: 15vh;
    width: 90vh;
    /* background-color: aqua; */
    font-family: orion;
    font-weight: 500;
    font-size: 5vw;
    border-bottom: 1px solid white;
    /* font-weight: 650; */
    display: flex;
    align-items: center;
    position: relative;
    top: 0vw;
    left: 2vw;
    color: white;
}
#page3_card h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
    width: 45%;
    /* background-color: red; */
    /* font-family: orion; */
    /* font-weight: 500; */
    font-size: 3vh;
    font-weight: 650;
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    top: 2vw;
    left: 6vw;
    color: white;
}
#page3_card{
    height: 20vw;
    width: 50vw;
    backdrop-filter: blur(19px) saturate(200%);
    -webkit-backdrop-filter: blur(19px) saturate(200%);
    background-color: rgba(25, 27, 29, 0.369);
    border-radius: 12px;
    /* border: 0px solid rgba(255, 255, 255, 0.125); */
    z-index: 3; 
    display: flex;
    flex-direction: column;
    position: relative;
    top: 27.5vw;
    left: -1vw;
    box-shadow: 0px 10px 70px -12px rgba(0,0,0,0.75);
}
.wrap{
    /* background-color: red; */
    height: 7vw;
    width: 40%;
    position: relative;
    top: -6vh;
    left: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* z-index: 4; */
}
#page3_card button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
  }
  
  #page3_card button:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: #333;
  }

#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;

}
#page4 video{
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -13; */
    /* object-fit: contain; */
    object-fit: cover;
}

#page4_card h1{
    height: 15vh;
    width: 90vh;
    /* background-color: aqua; */
    font-family: orion;
    font-weight: 500;
    font-size: 6.5vw;
    border-bottom: 1px solid white;
    /* font-weight: 650; */
    position: relative;
    top: 0vw;
    left: 2vw;
    color: white;
}
#page4_card h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
    width: 45%;
    /* background-color: red; */
    /* font-family: orion; */
    /* font-weight: 500; */
    font-size: 3vh;
    font-weight: 650;
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    top: 2vw;
    left: 6vw;
    color: white;
}
#page4_card{
    height: 20vw;
    width: 50vw;
    backdrop-filter: blur(19px) saturate(200%);
    -webkit-backdrop-filter: blur(19px) saturate(200%);
    background-color: rgba(25, 27, 29, 0.369);
    border-radius: 12px;
    /* border: 0px solid rgba(255, 255, 255, 0.125); */
    z-index: 3; 
    display: flex;
    flex-direction: column;
    position: relative;
    top: 27.5vw;
    left: 50vw;
    box-shadow: 0px 10px 70px -12px rgba(0,0,0,0.75);
}
.wrap{
    /* background-color: red; */
    height: 7vw;
    width: 40%;
    position: relative;
    top: -6vh;
    left: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* z-index: 4; */
}
#page4_card button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
  }
  
  #page4_card button:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: #333;
  }

  /* .content {
    min-height: 100vh;
    padding: 20px;
    margin-top: 10px;
    background-color: #f0f0f0;
} */

.footer {
    /* background-color: #1c1c1e; */
    color: white;
    /* padding-left: 7%; */
    padding-top: 10vh;
    border-top: 1px solid #000;
    /* padding-bottom: 10px; */
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 150px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #bbb;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    width: 100%;
    background-color: #111;
    color: #aaa;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
}

.footer-bottom a {
    color: #bbb;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

#footer_logo{
    height: 30px;
    width: 30px;
    /* background-color: red; */
    position: relative;
    left: -1vw;
    /* top: 20vw; */
}
#footer_logo i{
    font-size: 3vh;
}
