* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: 200; */
    font-style: normal;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
@font-face {
    font-family: 'earth'; 
    src: url('/future_earth/future-earth.ttf'); 
  }
#main {
    height: 100%;
    width: 100%;
    background: rgb(157,103,10);
    background: linear-gradient(90deg, rgba(157,103,10,1) 0%, #000000 35%, #000000 100%);
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    /* object-fit: cover; */
}

#sidebar {
    height: 100%;
    width: 7%;
    /* background-color: red; */
    border-right-style: inset;
    border-right-color: rgb(255, 255, 255);
    border-right-width: 1px;
    /* display: flex; */
    justify-content: space-between;
    position: fixed;
    backdrop-filter: blur(5px);
    position: fixed;
    
}

#logo {
    height: 10vh;
    width: 7%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    padding-top: 3.2vh;
    border-right-style: inset;
    border-right-color: rgb(255, 255, 255);
    border-right-width: 1px;
}
#logo i{
    color: white;
    font-size: 4vh;
}

#circle{
    /* background-color: aqua; */
    height: 76vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#circle i{
    color: white;
    margin-top: 40px;
    font-size: 1.5vh;
    
}

#bag{
    height: 10vh;
    width: 100%;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    display: flex;
}
#bag i{
    color: white;
    font-size: 3vh;
}
#down_1{
    height: 10vh;
    width: 100%;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    display: flex;
}
#down_1{
    color: white;
    font-size: 3vh; 
}
#navbar{
    /* position: absolute; */
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;

    backdrop-filter: blur(5px);
    position: fixed;
}
#navbar i{
    font-size: 3vh;
    color: white;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
}

#navbar ul{
    height: 100%;
    width: 85%;
    /* background: aqua; */
     display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10vh;
}
#navbar ul li{
    /* height: 100%; */
    /* background-color:black; */
   font-size: 2vh;
   list-style-type: none;
   padding: 2vh 2vh ;
   margin-right: 9vh;
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}

a:hover{
    color: white;
}
a::before{
    content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
a:hover::before{
    transform: scaleX(1);
}

#contentmain{
    /* background-color: rgb(11, 216, 182); */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contentmain h3{
    font-family: earth;
    font-size: 40px;
    font-weight: 650;
    display: flex;
    position: relative;
    top: 2vw;
    left: 20vw;
    color: white;
}
#contentmain h1{
    font-family: earth;
    margin-top: 1vw;
    font-size: 5vw;
    font-weight: 650;
    display: flex;
    position: relative;
    top: 2vw;
    left: 20vw;
    /* font-size: 72px; */
    background: -webkit-linear-gradient(#b98818, #603d10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#iphone{
    /* background-color: red; */
    height: 100%;
    display: inline-flex;
    align-items: end;
    justify-content: center;
    margin-right: 7vw;
}
#iphone img{
    height: 80%;
}

#marque{
    /* height: 15vh; */
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1vw;
    border-top: 2px solid #9A650A;
    border-bottom: 2px solid #9A650A;
}
#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: monument;
    font-weight: bolder;
    -webkit-text-stroke: 2px #9A650A;
    color: transparent;
    letter-spacing: 2px;
    margin-right: 16px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
  .wrap {
    height: 5vw;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 82vh;
    left: 20vw;
    /* background-color: red; */
  }
  
  .button {
    width: 140px;
    height: 45px;
    margin-right: 2vw;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #a07009;
    background-color:transparent;
    border: 2px solid #a07009;
    /* border: none; */
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #a07009;
    box-shadow: 0px 15px 20px rgba(205, 165, 77, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  #page1{
    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
    padding-left: 7%;
    display: flex;
    align-items: center;
  }
  #img_cont{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #page1 img{
    height: 90vh;
    border-radius: 20px;
    border-left: 3px solid #a07009;
  }

  #page2{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
  }
  #page2_top{
    height: 40%;
    /* background-color: red; */
    padding-left: 10%;
    padding-top: 7%;
  }
  #page2_top h1{
    font-family: earth;
    font-size: 4vw;
    font-weight: 650;
    background: -webkit-linear-gradient(#b98818, #603d10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10vw;
  }
  #page2_bottom{
    padding-left: 7vw;
  }
  #page2_bottom video{
    height: 60vh;
  }
  #page3{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    padding-left: 7%;
    padding-top: 10vh;
    display: flex;
  }
  #page3_left{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    
  }
  #page3_left h1{
    font-family: earth;
    font-size: 4vw;
    font-weight: 650;
    background: -webkit-linear-gradient(#b98818, #603d10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10vw;
    margin-top: 20vh;
  }
  #page3_left h3{
    font-size: 3vh;
    margin-left: 10vw;
    margin-top: 5vh;
    color: white;
  }
  #page3_right{
    height: 100%;
    width: 50%;
    /* background-color: red; */
  }
  #page3_right video{
    height: 100%;
  }



.content {
    min-height: 100vh;
    padding: 20px;
    margin-top: 10px;
    background-color: #f0f0f0;
}

.footer {
    /* background-color: #1c1c1e; */
    color: white;
    padding-left: 7%;
    padding-top: 10vh;
    border-top: 1px solid #000;
    /* padding-bottom: 10px; */
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 150px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #bbb;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #111;
    color: #aaa;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
}

.footer-bottom a {
    color: #bbb;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

#footer_logo{
    height: 30px;
    width: 30px;
    /* background-color: red; */
    position: absolute;
    left: 20vw;
    /* top: 20vw; */
}
#footer_logo i{
    font-size: 3vh;
}